/* Variables */

:root {
  --dont-family: 'Helvetica', sans-serif;
  --element-height: 50px;
  --primary-color:  #5AB2FF;
  --secondary-color: #FFF9D0;
  --spacing: 10px;
  --spacing-xs: 5px; 
  --text-color: #333;
  --transition: all 0.3s;
}

/* Registration description */

body > p:nth-child(2n+1) {
  padding-top: 25px;
}

h2 {
  margin-bottom: 55px;
  margin-top: 55px;
  text-align: center;
}

/* Login subtitle */

body > h2:nth-child(2) {
  font-weight: bold;
  padding-top: 60px;
}

/* Home Page */

header,
.header {
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body > :not(footer) {
  background-color: white;
  color: var(--text-color);
  font-family: var(--dont-family);
  margin: 0 auto;
  margin: auto;
  max-width: 1200px;
}

.home-page a > :last-child {
  color: rgb(128 124 124);
  font-style: italic;
  text-align: right;
}

#web-descripcion {
  border-bottom: 1px var(--primary-color) solid;
  padding-bottom: 25px;
}

footer a {
  background-color: none;
  color: var(--primary-color);
  max-width: 0;
  padding: 0;
}

.home-page a:hover {
  border: 2px rgb(119 116 116) solid;
  display: block;
}

a > :last-child {
  border-bottom: 0.2px var(--text-color) solid;
}

a :last-child > p {
  display: right;
  margin-top: 0;
  text-align: right;
}

.home-page > a > .post > p, h5 {
  display: block;
  margin-bottom: 0;
  padding: 0;
}

/* All posts */

body {
  background-image: url("background.png");
}

footer {
  margin: 0 20px;
  padding: 20px 0 0;
  text-align: center;
}

form > input:first-child {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 8%;
  color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px 15px;
  text-align: center;
}

.header {
  float: right;
  text-align: right;
}

h1 {
  float: left;
  margin-top: 0;
}

h5::after {
  content: "/";
}

.home-page {
  padding: 25px;
}

body > form label {
  display: block;
}

#name,
#first-name,
#last-name,
#email,
#address,
#city,
#state,
#zip,
#country,
#phone,
#password,
#new-password,
#confirm,
#age,
textarea,
body > form input[type="name"], input[type="password"] { 
  border: 0.5px var(--text-color) solid;
  display: block;
  height: 2rem;
  width: 89.34%;
}

body >
h1,
.header,
main {
  background-color: white;
  color: var(--text-color);
  font-family: var(--dont-family);
  margin: auto;
  max-width: 1200px;
}

img {
  display: flexbox;
  height: auto;
  justify-content: center;
  margin-top: 15px;
  max-width: 500px;
  padding-bottom: 0;
  padding-top: 30px;
  width: 500px;
}

#img-description {
  display: flex;
  position: absolute;
}

/* main > .content,
.field-content > img {
  height: auto;
  margin-top: 15px;
  max-width: 500px;
  padding-bottom: 0;
  padding-top: 30px;
  width: 500px;
} */

/* .text > img {
  align-items: center;
  height: auto;
  margin-top: 15px;
  max-width: 500px;
  width: 500px;
} */

/* Login CSS */

body > form {
  display: block; 
  margin-bottom: 5px; 
}

label.name {
  padding-top: 65px;
}

/* Posts */

body > main div {
  display: inline;
}
